.modal{
    width: 500px;
    height: 500px;
    background-color: azure;
}

.game{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: aqua;
    font-size: 142px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}